block(pt-box) {
    mod(view default) {
        background: var(--color-default);
    }

    mod(view inverse) {
        background: var(--color-inverse);
    }

    mod(view ghost) {
        background: var(--color-ghost);
    }
}
