.text {
  font-size: 1em;
}

.text_type_head {
	width: 80%;
	line-height: 32px;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
}

.text_type_title {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 1em;
}

.text_view_target {
	background: #00cc00;
	display: inline;
	padding: 0 8px;
}