.header__phone {
    display: flex;

    margin-bottom: 16px;

    justify-content: center;
    align-items: center;
}
.header__phone:lst-child {
    margin-bottom: 0;
}

.header__phone-num {
    font-size: 2em;
    font-weight: 700;

    margin-right: 10px;

    color: #0c0;
}
