node_modules/
.DS_Store
.idea
.project
.svn
.env
.env.local
npm-debug.log

static/*/*.min.*
!static/ico/*.*
!static/images/*.*
!static/scripts/*.*
!static/backup/*

# bem
.enb/tmp/
bundles/**/*.js
bundles/**/*.css
!bundles/**/*.bemdecl.js
bundles/**/*.tmpl.bemdecl.js
!.bem/*
